**Curso  Data Analysis with Python Módulo 1**

Por Héctor R. Vázquez Gléz. (A00565542)

La información que se utilizará está publicada en la dirección: https://raw.githubusercontent.com/PosgradoMNA/actividades-de-aprendizaje-HRaulVazquez/main/Data%20Analysis%20with%20Python/imports-85.data

La descripción de esta Base de Datos está disponible en: https://raw.githubusercontent.com/PosgradoMNA/actividades-de-aprendizaje-HRaulVazquez/main/Data%20Analysis%20with%20Python/imports-85.names

Se importan las librerías que vamos a necesitar

In [9]:
import pandas as pd
import numpy as np

En el siguiente código recuperamos la información y la almacenamos en una variable

In [ ]:
info = "https://raw.githubusercontent.com/PosgradoMNA/actividades-de-aprendizaje-HRaulVazquez/main/Data%20Analysis%20with%20Python/imports-85.data"

transformamos la variable creada en un dataframe con el que podemos trabajar mejor.

In [ ]:
df = pd.read_csv(info, header= None)

#Se asignan los nombres de las columnas
headers = ["Symboling","Normalized_Losses","Maker","Fuel-Type","Aspiration","No_of_Doors","Body_Style","Drive_wheels","Engine_location","Wheel_Base","Length","Width","Height","Curb_Weight","Engine_type","No_Of_Cilinders","Engine_Size","Fule_Type","Bore","Stroke","Compression_Ratio","Horsepower","Peak_Rpm","City_mpg","Highway_mpg","Price"]
df.columns = headers
df.head()

,Symboling,Normalized_Losses,Maker,Fuel-Type,Aspiration,No_of_Doors,Body_Style,Drive_wheels,Engine_location,Wheel_Base,...,Engine_Size,Fule_Type,Bore,Stroke,Compression_Ratio,Horsepower,Peak_Rpm,City_mpg,Highway_mpg,Price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

Vamos a ver la matriz descriptiva

In [ ]:
df.describe()

,Symboling,Wheel_Base,Length,Width,Height,Curb_Weight,Engine_Size,Compression_Ratio,City_mpg,Highway_mpg
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,10.142537,25.219512,30.751220
std,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,3.972040,6.542142,6.886443
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,8.600000,19.000000,25.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000
75%,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,9.400000,30.000000,34.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

Sabemos que la información viene incompleta, se nesecita reemplazar todos los "?" por "NaN". Haremos esto guardando el resultado en un nuevo dataframe.

In [12]:
NewDF = df.replace("?", np.NaN)

para fines del ejercicio, eliminaremos los rengloens que tengan el parámetro "Price" en null.

In [15]:
df=NewDF.dropna(subset=["Price"], axis=0)
df.head()

,Symboling,Normalized_Losses,Maker,Fuel-Type,Aspiration,No_of_Doors,Body_Style,Drive_wheels,Engine_location,Wheel_Base,...,Engine_Size,Fule_Type,Bore,Stroke,Compression_Ratio,Horsepower,Peak_Rpm,City_mpg,Highway_mpg,Price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

Para obtener más información acerca d enuestro Dataframe se puede usar la siguiente instrucción:

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 201 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Symboling          201 non-null    int64
 1   Normalized_Losses  164 non-null    object
 2   Maker              201 non-null    object
 3   Fuel-Type          201 non-null    object
 4   Aspiration         201 non-null    object
 5   No_of_Doors        199 non-null    object
 6   Body_Style         201 non-null    object
 7   Drive_wheels       201 non-null    object
 8   Engine_location    201 non-null    object
 9   Wheel_Base         201 non-null    float64
 10  Length             201 non-null    float64
 11  Width              201 non-null    float64
 12  Height             201 non-null    float64
 13  Curb_Weight        201 non-null    int64
 14  Engine_type        201 non-null    object
 15  No_Of_Cilinders    201 non-null    object
 16  Engine_Size        201 non-null    int64
 17  Fule_Type          201 non-null    object
 18  Bore               197 non-null    object
 19  Stroke             197 non-null    object
 20  Compression_Ratio  201 non-null    float64
 21  Horsepower         199 non-null    object
 22  Peak_Rpm           199 non-null    object
 23  City_mpg           201 non-null    int64
 24  Highway_mpg        201 non-null    int64
 25  Price              201 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 42.4+ KB

**Pre-processing**